.comment {
    display: block;
    width: 18%;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #c0c0c0;
}
.nickname {
    float: left;
}

.create_at {
    float: none;
    text-align: right;
    font-size: 0.3em;
    color: #5c5c5c
}

.msg {
    float: none;
}