.signin{
    border:  solid 5px #ff9f40;
    width: 75%;
    margin: 10px;
    padding: 10px; 
    margin: auto;
    height: 70%;
}
.signin-center{
    text-align: center;
}

.signin-img{
    width: 100%;
}

.signin-signup-button{
    float:right;
}

.google{
    text-align: center;
}