.signin{
    border:  solid 5px #ff9f40;
    margin: 10px;
    color: #ff9f40;
    padding: 10px; 
}
.signin-center{
    text-align: center;

}
.signin-img{
    width: 50%;
    
}

.signin-signup-button{
    float:right;
}

.google{
    text-align: center;
}